# Day 5

In [1]:
#creating of the list using range
li=list(range(1,10,2))
print(type(li))
print(li)

<class 'list'>
[1, 3, 5, 7, 9]

# List indexing and spliting

In [2]:
print(li[0])
print(li[1])
print(li[2])
print(li[3])
print(li[4])

1
3
5
7
9

In [4]:
lis=[1,2,3,4,5,6,7,8,9,10]
#printing the value of the list using step
print(lis[2:8:2])
#print the element of the list from range 2 to 8
print(lis[1:8])
#reversing the list
print(lis[::-1])

[3, 5, 7]
[2, 3, 4, 5, 6, 7, 8]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

# Method of Lists

In [6]:
l1=[1,2,3]
l1.append(10)
print(l1)

[1, 2, 3, 10]

In [7]:
l2=l1.copy()
print(l2)

[1, 2, 3, 10]

In [9]:
l2.extend(l1)#adding the whole list at the end of the list to be extended
print(l2)

[1, 2, 3, 10, 1, 2, 3, 10]

In [10]:
l2.insert(2,200)
print(l2)

[1, 2, 200, 3, 10, 1, 2, 3, 10]

In [11]:
l3=[10,9,8,7,6,5,4,3,2,1]
l3.sort()
print(l3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### Checking of the length, min and max

In [12]:
print("The length of the list l3 is: ",len(l3))

The length of the list l3 is:  10

In [14]:
print("The minimum value of the list l3 is: ",min(l3))

The minimum value of the list l3 is:  1

In [15]:
print("The maximum value of the list l3 is: ",max(l3))

The maximum value of the list l3 is:  10

### User input in the list

In [20]:
li=[]
n=int(input("Enter the length of the list: "))
for i in range(0,n):
    li.append(int(input("Enter the {0}th element to be entered: ".format(i+1))))
li.sort()
print("The minimum element of the list is: ",min(li))
print("The maximum element of the list is: ",max(li))
print("The second minimum element of the list is: ",li[1])
print("The second maximum element of the list is: ",li[len(li)-2])

Enter the length of the list: 5
Enter the 1th element to be entered: 1
Enter the 2th element to be entered: 2
Enter the 3th element to be entered: 3
Enter the 4th element to be entered: 4
Enter the 5th element to be entered: 5
The minimum element of the list is:  1
The maximum element of the list is:  5
The second minimum of the list is:  2
The second maximum of the list is:  4

n=int(input("Enter the length of the list: "))

In [4]:
n=int(input("Enter the length of the list: "))
a=list(map(int,input("Enter the {0} element using space".format(n)).strip().split()))[:n]
print(a)

Enter the length of the list: 5
Enter the 5 element using space4 5 6 8 2 5 8
[4, 5, 6, 8, 2]

### List comprehension

In [5]:
even_list={i for i in range(50) if i%2==0}
print(even_list)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}

In [7]:
even_list={i for i in range(50) if i%2!=0}
print(even_list)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49}

In [8]:
#
li=[3,3,4,5,6,5,4,3]
li.count(3)

3

In [9]:
li.clear()
print(li)

[]

In [11]:
def second_Count(n):
    print("Second present in the days is: ",n*24*60*60)
n=int(input("Enter the number os days: "))
second_Count(n)

Enter the number os days: 10
Second present in the days is:  864000

In [12]:
import calendar
year=2024
month=8
print(calendar.month(year,month))

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

In [13]:
import datetime
e=datetime.datetime.now()
print(e)

2024-08-17 15:17:24.682069