In [15]:
import seaborn as sns
from sklearn.model_selection import KFold,cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold

In [2]:
tp = sns.load_dataset("tips")

In [3]:
tp.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [4]:
tp_encoded=tp.copy()

In [8]:
label_encoder={}
for column in ['sex','smoker','day','time']:
    label_encoder[column]=LabelEncoder()
    tp_encoded[column]=label_encoder[column].fit_transform(tp_encoded[column])

In [9]:
tp_encoded.head()

   total_bill   tip  sex  smoker  day  time  size
0       16.99  1.01    0       0    2     0     2
1       10.34  1.66    1       0    2     0     3
2       21.01  3.50    1       0    2     0     3
3       23.68  3.31    1       0    2     0     2
4       24.59  3.61    0       0    2     0     4

In [10]:
x=tp_encoded.drop('tip',axis=1)
y=tp_encoded['tip']

In [17]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=42)

In [19]:
model=LinearRegression()

In [20]:
score=cross_val_score(model,x,y,cv=kf,scoring='neg_mean_squared_error')

In [21]:
mse=-score

In [22]:
print("MSE for each fold",mse)

MSE for each fold [0.69481297 1.15129564 1.10584982 0.97699936 1.58177495]

In [23]:
print("Mean",mse.mean())
print("SD",np.std(mse))

Mean 1.1021465468642841
SD 0.2877690811712106

In [29]:
def split_train_test(data,test_size):
    shuffled_data=np.random.permutation(len(data))
    test_set_size=int(len(data)*test_size)
    test_indices=shuffled_data[:test_set_size]
    train_indices=shuffled_data[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [30]:
train_set,test_set=split_train_test(tp,0.2)

In [31]:
train_set.shape, test_set.shape

((196, 7), (48, 7))

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
train_set, test_set=train_test_split(tp,test_size=0.2,
                                   random_state=42)

In [35]:
train_set.shape, test_set.shape

((195, 7), (49, 7))